body {
  margin: 0 0 0 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.for-links {
  text-decoration: none;
}

:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --descript-color: #757575;
  --backgtound-color: #2f303a;
  --sec-backgtound-color: #f5f4fa;
  --fff-color: #ffffff;
  --link-hover: #188ce8;
  --amogus-color: #000000;
  --header-bgrcolor: #ececec;
  --border-box: #eeeeee;
  --font-family: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/********************** navigation **********************/
/**** hover *****/
.a-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--title-color);
}

.site-nav .a-nav:hover,
.site-nav .a-nav:focus {
  color: var(--brand-color);
}

/**** indicator activ page *****/
#active-now {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .a-nav {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.border-head {
  display: flex;
  border-bottom: 1px solid #ececec;
}

/********************** Друга секція **********************/

.title-second-sec {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.descript-second-sec {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-section {
  padding-top: 0;
  padding-bottom: 0;
}

.descript {
  display: flex;
  /* justify-content: space-between; */
}

.sec-item {
  margin-right: 30px;
}

.sec-item:last-child {
  margin-right: 0;
}

.descript .sec-item {
  width: 270px;
}

.img-item {
  margin-right: 30px;
}

.img-item:last-child {
  margin-right: 0;
}

/********************** Третя секція **********************/

.title-third-fourth-sec {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.title-what-are-we-doing {
  padding-top: 44px;
}

.title-our-team {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* .padd-third {
  padding-bottom: 94px;
} */

/********************** Четверта секція **********************/

.background-fourth-sec {
  background: var(--sec-backgtound-color);
}

.title-fourth-sec {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.descript-fourth-sec {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

/********************** Перша секція **********************/

.hero {
  background: var(--backgtound-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  /* padding-left: 200px;
  padding-right: 200px; */
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fff-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--fff-color);
  cursor: pointer;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.social-links .hero-button {
  color: rgb(255, 255, 255);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--link-hover);
}

/********************** contact **********************/

.contact-link {
  padding: 32px 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--descript-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--brand-color);
}

.contact {
  display: flex;
  margin-left: 331px;
}

.contact .item + .item {
  margin-left: 50px;
}

.contacts-foot {
  padding-bottom: 9px;
}

.contacts-foot:last-child {
  padding: 0;
}

/********************** logo **********************/

.logo {
  display: block;
  text-decoration: none;
}

.logo-butt {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
}

.logo-accent {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.logo-simp {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--amogus-color);
}

.logo-simp-footer {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--fff-color);
}

/********************** Забираєм маркери **********************/

.none-marker {
  list-style-type: none;
}

/********************** button **********************/

/* .portfolio-button {
  cursor: pointer;

} */

.portfolio-button:hover,
.portfolio-button:focus {
  color: white;
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button {
  padding: 0px 22px;
  background: var(--sec-backgtound-color);
  background-color: var(--sec-backgtound-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
}

/********************** Опис картинок в портфоліо **********************/
.pic-descript {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.under-pic-descript {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

/**********************  Footer bg **********************/

.footer-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--fff-color);
  background: var(--backgtound-color);
}

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fff-color);
}

.footer-a-nav {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-a-nav:hover,
.footer-a-nav:focus {
  color: rgb(255, 255, 255);
}

/********************** sus **********************/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.port-butt {
  /* margin: 0px auto 50px; */
  display: flex;
  justify-content: center;
  /* padding-top: 94px; */
  margin-bottom: 50px;
}

.port-butt .port-item + .port-item {
  margin-left: 8px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 94px; */
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.text-box {
  display: block;
  margin: 0;
  padding: 20px 24px;
}

.text-box-index {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/******* TRASH CAN in case lost smht sh!t idk *******/

/* .portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
} */
